:root {
    /* ---- base -- */
    --indicator-hovered: rgba(79, 84, 92, 0.25);
    --indicator-rounding: 0;
    --indicator-border-info: 2px solid;

    /* ---- selected -- */
    --indicator-selected: 88, 101, 242;
    --indicator-selected-border: rgba(var(--indicator-selected));
    --indicator-selected-background: rgba(var(--indicator-selected), 0.1);
    --indicator-selected-hover: rgba(var(--indicator-selected), 0.18);

    /* ---- unreads  -- */
    --indicator-unread: 255, 255, 255;
    --indicator-unread-border: rgba(var(--indicator-unread), 0.6);
    --indicator-unread-background: rgba(var(--indicator-unread), 0.01);
    
    /* ---- connected -- */
    --indicator-connected: 87, 242, 135;
    --indicator-connected-border: rgba(var(--indicator-connected));
    --indicator-connected-background: rgba(var(--indicator-connected), 0.1);
    --indicator-connected-hover: rgba(var(--indicator-connected), 0.18);
}

@import "./src/indicators";