@import url("https://raw.githack.com/LuckFire/BetterChannelIndiactors/main/src/source.css");

:root {
    --unread-badge: rgba(255, 255, 255, 0.6);
    --unread-bg: rgba(255, 255, 255, 0.01);
    --selected-badge: rgb(112, 135, 215);
    --selected-bg: rgba(112, 135, 215, 0.1);
    --selected-bg-hover: rgba(112, 135, 215, 0.18);
    --hovered-bg: rgba(79, 84, 92, 0.25);
    --bg-rounding: 0px 0px 0px 0px;
    --border-info: 2px solid;
}
