:root {
    --indicator-border-size: 2px;
    --indicator-border-style: solid;
    --indicator-rounding: 0;
}

.theme-light {
    --indicator-unread: var(--primary-900-hsl);
    --indicator-unread-mention: var(--red-430-hsl);
    --indicator-selected: var(--brand-500-hsl);
    --indicator-connected: var(--green-430-hsl);
}

.theme-dark {
    --indicator-unread: var(--primary-130-hsl);
    --indicator-unread-mention: var(--red-400-hsl);
    --indicator-selected: var(--brand-500-hsl);
    --indicator-connected: var(--green-230-hsl);
}