@-moz-document domain("discord.com") {
    /* ==UserStyle==
    @name         Better Channel Indicators
    @description  Adds a nice touch to Discord's current channel indicators.
    @author       LuckFire#400
    @namespace    github.com/LuckFire/BetterChannelIndicators
    @version      1.3.0
    ==/UserStyle== */

    :root {
        --unread-badge: rgba(255, 255, 255, 0.6);
        --unread-bg: rgba(255, 255, 255, 0.01);
        --selected-badge: rgb(112, 135, 215);
        --selected-bg: rgba(112, 135, 215, 0.1);
        --selected-bg-hover: rgba(112, 135, 215, 0.18);
        --hovered-bg: rgba(79, 84, 92, 0.25);
        --bg-rounding: 0 50px 50px 0;
        --border-info: 2px solid;
    }
    
    #app-mount .content-1x5b-n,
    #app-mount .channel-2QD9_O .layout-2DM8Md {
        background: none;
    }
    #app-mount .modeSelected-346R90::before,
    #app-mount .modeUnread-1qO3K1::before {
        content: "";
        position: absolute;
        height: 34px;
        top: 0;
    }
    #app-mount .channel-2QD9_O.selected-aXhQR6::before {
        content: "";
        position: absolute;
        height: 44px;
        top: 0;
    }
    #app-mount .modeSelected-346R90,
    #app-mount .channel-2QD9_O.selected-aXhQR6 {
        background: var(--selected-bg);
        border-radius: var(--bg-rounding);
    }
    #app-mount .modeSelected-346R90:hover,
    #app-mount .channel-2QD9_O.selected-aXhQR6:hover {
        background: var(--selected-bg-hover);
    }
    #app-mount .modeSelected-346R90::before,
    #app-mount .channel-2QD9_O.selected-aXhQR6::before {
        border-left: var(--border-info) var(--selected-badge);
    }
    #app-mount .unread-2lAfLh {
        display: none;
    }
    #app-mount .modeUnread-1qO3K1 {
        background: var(--unread-bg);
        border-radius: var(--bg-rounding);
    }
    #app-mount .modeUnread-1qO3K1::before {
        border-left: var(--border-info) var(--unread-badge);
    }
    #app-mount .modeUnread-1qO3K1:hover,
    #app-mount .wrapper-2jXpOf:not(.modeSelected-346R90):hover,
    #app-mount .channel-2QD9_O.container-2Pjhx-:not(.selected-aXhQR6):hover {
        background: var(--hovered-bg);
        border-radius: var(--bg-rounding);
    }
    #app-mount .channel-2QD9_O.container-2Pjhx- {
        margin-left: 0;
        max-width: 235px;
    }
    #app-mount .channel-2QD9_O.container-2Pjhx- div .avatar-3uk_u9 {
        margin-left: 5px;
    }
}