@-moz-document domain("discord.com") {
    /* ==UserStyle==
    @name         Modern Channel Indicators
    @description  Spice up Discord's channel indicators
    @author       LuckFire#400
    @namespace    https://github.com/Discord-Theme-Addons/modern-channel-indicators
    @version      1.6.0
    ==/UserStyle== */
    
    @import url('https://discord-theme-addons.github.io/modern-channel-indicators/src/support/compiled.css');

    /* [ THEME MODE SPECIFIC ] */
    .theme-dark {
        --indicator-selected: 88, 101, 242;
        --indicator-unread: 255, 255, 255;
        --indicator-connected: 87, 242, 135;
        --indicator-active: white;
    }

    .theme-light {
        --indicator-selected: 88, 101, 242;
        --indicator-unread: 0, 0, 0;
        --indicator-connected: 65, 183, 102;
        --indicator-active: black;
    }

    /* [ CUSTOMIZATION BASE ] */
    :root {
        --indicator-border-info: solid 2px;
        --indicator-rounding-info: 0 0px 0px 0;
        --indicator-hovered: rgba(85, 90, 100, 0.25);
        /* [ SELECTED ] */
        --indicator-selected-border: rgba(var(--indicator-selected));
        --indicator-selected-icons: rgba(var(--indicator-selected));
        --indicator-selected-hover: rgba(var(--indicator-selected), 0.18);
        --indicator-selected-background: rgba(var(--indicator-selected), 0.1);
        /* [ UNREAD ] */
        --indicator-unread-border: rgba(var(--indicator-unread), 0.6);
        --indicator-unread-icons: var(--indicator-unread-border);
        --indicator-unread-background: rgba(var(--indicator-unread), 0.020);
        /* [ CONNECTED ] */
        --indicator-connected-border: rgba(var(--indicator-connected));
        --indicator-connected-icons: var(--indicator-connected-border);
        --indicator-connected-hover: rgba(var(--indicator-connected), 0.18);
        --indicator-connected-background: rgba(var(--indicator-connected), 0.1);
    }
}