.navItem__551b0 {
    margin: 2px 0;
    padding-left: 8px;
    border-radius: var(--indicator-rounding);
    border-left: var(--indicator-border-size) var(--indicator-border-style) transparent;
    &:hover {
        background-color: var(--indicator-hover);
    }
    &.selected__551b0 {
        border-left-color: var(--indicator-selected-border);
        color: var(--interactive-active);
        background-color: var(--indicator-selected-background);
        svg {
            color: var(--indicator-selected-border);
        }
    }
}