.channel_c91bad {
    max-width: unset;
    margin: 2px 0;
    padding: 0 0 0 8px;
    border-radius: var(--indicator-rounding);
    border-left: var(--indicator-border-size) var(--indicator-border-style) transparent;
    &:hover {
        background-color: var(--indicator-hover);
    }
    &:has(.selected_f5eb4b) {
        border-left-color: var(--indicator-selected-border);
        background-color: var(--indicator-selected-background);
        &:hover {
            background-color: var(--indicator-selected-hover-background);
        }
        .linkButtonIcon_c91bad, .closeButton_c91bad {
            color: var(--indicator-selected-border);
        }
    }
    &:has(.highlighted_f9647d) {
        border-left-color: var(--indicator-unread-border);
        background-color: var(--indicator-unread-background);
        &:hover {
            background-color: var(--indicator-unread-hover-background);
        }
        .linkButtonIcon_c91bad, .closeButton_c91bad {
            color: var(--indicator-unread-border);
        }
    }
    .interactive_f5eb4b {
        background: transparent;
    }
}