.channel_c21703 {
    max-width: unset;
    margin: 2px 0;
    padding: 0 0 0 8px;
    border-radius: var(--indicator-rounding);
    border-left: var(--indicator-border-size) var(--indicator-border-style) transparent;
    &:hover {
        background-color: var(--indicator-hover);
    }
    &:has(.selected_d94cf9) {
        border-left-color: var(--indicator-selected-border);
        background-color: var(--indicator-selected-background);
        &:hover {
            background-color: var(--indicator-selected-hover-background);
        }
        .linkButtonIcon__2f35b, .closeButton__8f1fd {
            color: var(--indicator-selected-border);
        }
    }
    &:has(.highlighted__7bba7) {
        border-left-color: var(--indicator-unread-border);
        background-color: var(--indicator-unread-background);
        &:hover {
            background-color: var(--indicator-unread-hover-background);
        }
        .linkButtonIcon__2f35b, .closeButton__8f1fd {
            color: var(--indicator-unread-border);
        }
    }
    .interactive__776ee {
        background: transparent;
    }
}