.channel__972a0 {
    max-width: unset;
    margin: 2px 0;
    padding: 0 0 0 8px;
    border-radius: var(--indicator-rounding);
    border-left: var(--indicator-border-size) var(--indicator-border-style) transparent;
    &:hover {
        background-color: var(--indicator-hover);
    }
    &:has(.selected_bf202d) {
        border-left-color: var(--indicator-selected-border);
        background-color: var(--indicator-selected-background);
        &:hover {
            background-color: var(--indicator-selected-hover-background);
        }
        .linkButtonIcon__972a0, .closeButton__972a0 {
            color: var(--indicator-selected-border);
        }
    }
    &:has(.highlighted__20a53) {
        border-left-color: var(--indicator-unread-border);
        background-color: var(--indicator-unread-background);
        &:hover {
            background-color: var(--indicator-unread-hover-background);
        }
        .linkButtonIcon__972a0, .closeButton__972a0 {
            color: var(--indicator-unread-border);
        }
    }
    .interactive_bf202d {
        background: transparent;
    }
}