.channel__0aef5 {
    max-width: unset;
    margin: 2px 0;
    padding: 0 0 0 8px;
    border-radius: var(--indicator-rounding);
    border-left: var(--indicator-border-size) var(--indicator-border-style) transparent;
    &:hover {
        background-color: var(--indicator-hover);
    }
    &:has(.selected__37292) {
        border-left-color: var(--indicator-selected-border);
        background-color: var(--indicator-selected-background);
        &:hover {
            background-color: var(--indicator-selected-hover-background);
        }
        .linkButtonIcon_cff89e, .closeButton__116c3 {
            color: var(--indicator-selected-border);
        }
    }
    &:has(.highlighted_e2e5df) {
        border-left-color: var(--indicator-unread-border);
        background-color: var(--indicator-unread-background);
        &:hover {
            background-color: var(--indicator-unread-hover-background);
        }
        .linkButtonIcon_cff89e, .closeButton__116c3 {
            color: var(--indicator-unread-border);
        }
    }
    .interactive__0786a {
        background: transparent;
    }
}