/* || Channels */
.sidebar-1tnWFu {
  .wrapper-NhbLHG {
    margin-left: 0;
    .link-1_kTxV {
      padding-left: calc(16px - var(--indicator-border-size));
      border-radius: var(--indicator-rounding);
      border-left: var(--indicator-border-size) var(--indicator-border-style) transparent;
      &:hover {
        background-color: var(--indicator-hovered);
      }
    }
    &.typeThread-2Aqh6X {
      .link-1_kTxV {
        padding-left: calc(42px - var(--indicator-border-size));
      }
    }
    &.modeSelected-3DmyhH .link-1_kTxV {
      border-color: var(--item-selected-indicator);
      background-color: var(--item-selected-background);
      &:hover {
        background-color: var(--item-selected-background-hover);
      }
      svg {
        color: var(--item-selected-icon);
      }
      .name-28HaxV {
        color: var(--text-active);
      }
    }
    &.modeConnected-NrO4cP .link-1_kTxV {
      border-color: var(--item-connected-indicator);
      background-color: var(--item-connected-background);
      &:hover {
        background-color: var(--item-connected-background-hover);
      }
      svg {
        color: var(--item-connected-icon);
      }
      .name-28HaxV {
        color: var(--text-active);
      }
      .wrapper-2fEmwW {
        color: var(--text-active);
        background-color: var(--item-connected-background-hover);
        .users-2JoyGL {
          background-color: unset;
        }
        .total-1c5KCN {
          background-color: var(--item-connected-background-hover);
          &::after {
            border-right-color: var(--item-connected-background-hover);
          }
        }
      }
    }
    &.modeUnread-3Cxepe {
      .unread-36eUEm {
        display: none;
      }
      .link-1_kTxV {
        border-color: var(--item-unread-indicator);
        background-color: var(--item-unread-background);
        &:hover {
          background-color: var(--item-unread-background-hover);
        }
        svg {
          color: var(--item-unread-icon);
        }
        .name-28HaxV {
          color: var(--text-active);
        }
      }
    }
  }
  // || Private Messages
  .channel-1Shao0 {
    margin-left: 0;
    border-radius: var(--indicator-rounding);
    .interactive-iyXY_x {
      width: 232px;
      padding-left: calc(8px - var(--indicator-border-size));
      border-left: var(--indicator-border-size) var(--indicator-border-style) transparent;
      &:hover {
        background-color: var(--indicator-hovered);
      }
      &.selected-26oxtA {
        border-color: var(--item-selected-indicator);
        background-color: var(--item-selected-background);
        &:hover {
          background-color: var(--item-selected-background-hover);
        }
        svg path {
          color: var(--item-selected-icon);
        }
      }
    }
  }
}
