/* || Discovery */
.sidebar-1tnWFu {
  .categoryItem-Kc_HK_ {
    margin-left: 0;
    &.selectedCategoryItem-ZjqSui .itemInner-3e_4G4 {
      border-color: var(--item-selected-indicator);
      background-color: var(--item-selected-background);
      &:hover {
        background-color: var(--item-selected-background-hover);
      }
      svg {
        color: var(--item-selected-icon);
      }
    }
    .itemInner-3e_4G4 {
      padding-left: calc(16px - var(--indicator-border-size));
      border-radius: var(--indicator-rounding);
      border-left: var(--indicator-border-size) var(--indicator-border-style) transparent;
      &:hover {
        background-color: var(--indicator-hovered);
      }
    }
  }
}
