.sidebar-1tnWFu {
    // removal of original indicators
    .wrapper-NhbLHG .content-1gYQeQ, // text channels
    .categoryItem-Kc_HK_ .layout-1qmrhw, // discovery
    .interactive-1vLZ_I { // private messages
        background-color: transparent;
    }

    // applies new styling
    .wrapper-NhbLHG,
    .categoryItem-Kc_HK_,
    .interactive-1vLZ_I {
        border-radius: var(--indicator-rounding);
        &::before {
            content: "";
            border-left: 2px solid transparent;
        }
    }
    .wrapper-NhbLHG, .interactive-1vLZ_I {
        &::before {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
        }
    }
    .categoryItem-Kc_HK_::before {
        position: fixed;
        margin-top: -1px;
        height: 44px;
    }

    // fixes and adjustments for inperfections
    .channel-1Shao0,
    .categoryItem-Kc_HK_ {
        margin-left: 0;
        max-width: 100%;
        .avatar-1HDIsL, .avatar-6qzftW {
            margin-left: 8px;
        }
    }
    .wrapper-NhbLHG, .categoryItem-Kc_HK_, .interactive-1vLZ_I {
        margin-bottom: 2px;
    }
    .interactive-1vLZ_I {
        margin-bottom: 0;
        &::before {
            top: 1px;
            bottom: 3px;
        }
    }
}