:root {
    --fallback-selected: 88, 101, 242;
    --fallback-unread: 255, 255, 255;
    --fallback-connected: 87, 242, 135;
}

#app-mount { 
    // Indicator Borders
    .containerDefault--pIXnN .wrapper-2jXpOf,
    .channel-2QD9_O {
        border-radius: var(--indicator-rounding, 0);
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
        }
    }
    .categoryItem-ONe8JV {
        border-radius: var(--indicator-rounding, 0);
        &::before {
            content: "";
            position: fixed;
            margin-top: -1px;
            height: 44px;
        }
    }
    // Removed Default Indicators
    .content-1x5b-n,
    .itemInner-1XfZdz,
    .channel-2QD9_O .layout-2DM8Md {
        background-color: transparent;
    }

    // Indicator Hovered
    .modeMuted-onO3r-, .modeUnread-1qO3K1, [class="iconVisibility-sTNpHs wrapper-2jXpOf"],
    [class="channel-2QD9_O container-2Pjhx- clickable-1JJAn8"],
    [class="categoryItem-ONe8JV container-2Pjhx- clickable-1JJAn8"] {
        &:hover {
            background: var(--indicator-hovered, rgba(79, 84, 92, 0.25));
        }
    }
    .modeMuted-onO3r-,
    [class="iconVisibility-sTNpHs wrapper-2jXpOf"] {
        &:hover .overflow-WK9Ogt {
            color: var(--indicator-hovered-text, var(--interactive-hover));
        }
    }

    // Indicator Selected
    .modeSelected-346R90,
    .channel-2QD9_O.selected-aXhQR6,
    .selectedCategoryItem-28UllF {
        background-color: var(--indicator-selected-background, rgba(var(--indicator-selected, var(--fallback-selected)), 0.1));
        &:hover {
            background-color: var(--indicator-selected-hover, rgba(var(--indicator-selected, var(--fallback-selected)), 0.18));
        }
        &::before {
            border-left: var(--indicator-border-info, 2px solid) var(--indicator-selected-border, rgba(var(--indicator-selected, var(--fallback-selected))));
        }
        .overflow-WK9Ogt {
            color: var(--indicator-selected-text, white);
        }
        div > svg {
            color: var(--indicator-selected-icons, rgba(var(--indicator-selected, var(--fallback-selected))));
        }
    }

    // Indicator Unread
    .modeUnread-1qO3K1 {
        background-color: var(--indicator-unread-background, rgba(var(--indicator-unread, var(--fallback-unread)), 0.01));
        &::before {
            border-left: var(--indicator-border-info, 2px solid) var(--indicator-unread-border, rgba(var(--indicator-unread, var(--fallback-unread)), 0.6));
        }
        .unread-2lAfLh {
            display: none;
        }
        .overflow-WK9Ogt {
            color: var(--indicator-unread-text, white);
        }
        .icon-1DeIlz, .actionIcon-PgcMM2 {
            color: var(--indicator-unread-icons, rgba(var(--indicator-unread, var(--fallback-unread)), 0.6));
        }
    }

    // VC Connected
    .modeConnected-3IsKId {
        background-color: var(--indicator-connected-background, rgba(var(--indicator-connected, var(--fallback-connected)), 0.1));
        &:hover {
            background-color: var(--indicator-connected-hover, rgba(var(--indicator-connected, var(--fallback-connected)), 0.18));
        }
        &::before {
            border-left: var(--indicator-border-info, 2px solid) var(--indicator-connected-border, rgba(var(--indicator-connected, var(--fallback-connected))));
        }
        .overflow-WK9Ogt {
            color: var(--indicator-connected-text, white);
        }
        // user limit
        .userLimit-3aerPX .wrapper-2tAnRe {
            color: white;
            background-color: rgba(var(--indicator-connected, var(--fallback-connected)), 0.3);

            .users-3kndPl {
                background-color: transparent;
            }
            .total-i6us2n {
                background-color: rgba(var(--indicator-connected, var(--fallback-connected)), 0.4);
                &::after {
                    border-right-color: rgba(var(--indicator-connected, var(--fallback-connected)), 0.4);
                }
            }
        }
        .icon-1DeIlz, .actionIcon-PgcMM2 {
            color: var(--indicator-connected-icons, rgba(var(--indicator-connected, var(--fallback-connected))));
        }
    }

    // Positioning Adjustments
    .channel-2QD9_O,
    .categoryItem-ONe8JV {
        margin-left: 0;
        max-width: 100%;
        .avatar-3uk_u9 {
            margin-left: 8px;
        }
    }
}