#app-mount {
    /* -------- BASE ---- */ 
    /* ---- Borders -- */
    .containerDefault--pIXnN .wrapper-2jXpOf,
    .channel-2QD9_O {
        border-radius: var(--indicator-rounding);

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
        }
    }
    /* ---- Remove Default  -- */
    .content-1x5b-n,
    .channel-2QD9_O .layout-2DM8Md {
        background-color: transparent;
    }

    /* -------- CHANNEL INDICATORS ---- */ 
    /* ---- Channel Hover -- */
    .containerDefault--pIXnN .wrapper-2jXpOf:not(.modeSelected-346R90):not(.modeConnected-3IsKId),
    .channel-2QD9_O:not(.selected-aXhQR6) {
        &:hover {
            background: var(--indicator-hovered);
        }
    }

    /* ---- Channel Selected -- */
    .modeSelected-346R90,
    .channel-2QD9_O.selected-aXhQR6 {
        background-color: var(--indicator-selected-background);

        &:hover {
            background-color: var(--indicator-selected-hover);
        }
        &::before {
            border-left: var(--indicator-border-info) var(--indicator-selected-border);
        }
    }
    .modeSelected-346R90 {
        .icon-1DeIlz, .actionIcon-PgcMM2 {
            color: var(--indicator-selected-border);
        }
    }

    /* ---- Channel Unread -- */
    .modeUnread-1qO3K1 {
        background: var(--indicator-unread-background);

        &::before {
            border-left: var(--indicator-border-info) var(--indicator-unread-border);
        }
        .unread-2lAfLh {
            display: none;
        }

        .icon-1DeIlz, .actionIcon-PgcMM2 {
            color: var(--indicator-unread-border);
        }
    }


    /* ---- VC Connected -- */
    .modeConnected-3IsKId {
        background-color: var(--indicator-connected-background);

        &:hover {
            background-color: var(--indicator-connected-hover);
        }
        &::before {
            border-left: var(--indicator-border-info) var(--indicator-connected-border);
        }

        // user limit
        .userLimit-3aerPX .wrapper-2tAnRe {
            color: white;

            .users-3kndPl {
                background-color: rgba(var(--indicator-connected), 0.3);
            }
            .total-i6us2n {
                background-color: rgba(var(--indicator-connected), 0.6);
                &::after {
                    border-right-color: rgba(var(--indicator-connected), 0.45);
                }
            }
        }

        .icon-1DeIlz, .actionIcon-PgcMM2 {
            color: var(--indicator-connected-border);
        }
    }

    /* ---- DM Channel Positioning -- */
    .channel-2QD9_O {
        margin-left: 0;
        max-width: 100%;

        div .avatar-3uk_u9 {
            margin-left: 8px;
        }
    }
}
