@use 'root';

#app-mount {
    /* [ --BASE-- ] */
    /* remove old indicators */
    .wrapper-NhbLHG .content-1gYQeQ, .layout-1qmrhw {
        background-color: transparent;
    }
    /* new indicators */
    .wrapper-NhbLHG, .channel-1Shao0 .interactive-1vLZ_I, .categoryItem-Kc_HK_ {
        border-radius: var(--indicator-rounding-info);
        &::before {
            content: "";
        }
    }
    .containerDefault-YUSmu3 .wrapper-NhbLHG, .channel-1Shao0 .interactive-1vLZ_I {
        &::before {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
        }
    }
    .categoryItem-Kc_HK_::before {
        position: fixed;
        margin-top: -1px;
        height: 44px;
    }
    /* adjustments */
    .channel-1Shao0,
    .categoryItem-Kc_HK_ {
        margin-left: 0;
        max-width: 100%;
        .avatar-1HDIsL {
            margin-left: 8px;
        }
    }

    /* [ --COLORING-- ] */
    /* on hover */
    [class="iconVisibility-vptxma wrapper-NhbLHG"], .modeMuted-2T4MDZ, .modeUnread-3Cxepe,
    .container-1oeRFJ.clickable-28SzVr {
        &:hover {
            background: var(--indicator-hovered);
            div > svg {
                color: var(--interactive-hover);
            }
        }
    }
    /* active / selected */
    .modeSelected-3DmyhH, .interactive-1vLZ_I.selected-3veCBZ, .selectedCategoryItem-ZjqSui {
        background-color: var(--indicator-selected-background);
        &:hover {
            background-color: var(--indicator-selected-hover);
        }
        &::before {
            border-left: var(--indicator-border-info) var(--indicator-selected-border);
        }
        .overflow-1wOqNV {
            color: var(--indicator-active);
        }
        div > svg {
            color: var(--indicator-selected-icons);
        }
    }
    .selectedCategoryItem-ZjqSui .wrappedName-1GzMwB {
        color: var(--indicator-active);
    }
    /* unread */
    .modeUnread-3Cxepe {
        background-color: var(--indicator-unread-background);
        &::before {
            border-left: var(--indicator-border-info) var(--indicator-unread-border);
        }
        .overflow-1wOqNV {
            color: var(--indicator-active);
        }
        .icon-2W8DHg, .actionIcon-2sw4Sl {
            color: var(--indicator-unread-icons);
        }
        .unread-36eUEm {
            display: none;
        }
    }
    /* connected to voice */
    .modeConnected-NrO4cP {
        background-color: var(--indicator-connected-background);
        &:hover {
            background-color: var(--indicator-connected-hover);
        }
        &::before {
            border-left: var(--indicator-border-info) var(--indicator-connected-border);
        }
        .overflow-1wOqNV {
            color: var(--indicator-active);
        }
        .icon-2W8DHg, .actionIcon-2sw4Sl {
            color: var(--indicator-connected-icons, rgba(var(--indicator-connected)));
        }
        // user limit
        .userLimit-VbEkeM .wrapper-2fEmwW {
            color: var(--indicator-active);
            background-color: rgba(var(--indicator-connected), 0.4);

            .users-2JoyGL {
                background-color: transparent;
            }
            .total-1c5KCN {
                background-color: rgba(var(--indicator-connected), 0.4);
                &::after {
                    border-right-color: rgba(var(--indicator-connected), 0.4);
                }
            }
        }
    }
}