:root {
    --unread-badge: rgba(255, 255, 255, 0.6);
    --unread-bg: rgba(255, 255, 255, 0.01);
    --selected-badge: rgb(112, 135, 215);
    --selected-bg: rgba(112, 135, 215, 0.1);
    --selected-bg-hover: rgba(112, 135, 215, 0.18);
    --hovered-bg: rgba(79, 84, 92, 0.25);
    --bg-rounding: 0 50px 50px 0;
    --border-info: 2px solid;
}

/* Removes Original Indicators */
.content-1x5b-n, 
.channel-2QD9_O > .layout-2DM8Md {
    background: none !important;
}

/* Badges */
.modeSelected-346R90::before,
.modeUnread-1qO3K1::before {
    content: "";
    position: absolute;
    height: 34px;
}
.channel-2QD9_O.selected-aXhQR6::before {
    content: "";
    position: absolute;
    height: 44px;
    top: 0;
}

/* Selected Channel */
.modeSelected-346R90,
.channel-2QD9_O.selected-aXhQR6 {
    background: var(--selected-bg);
    border-radius: var(--bg-rounding);
}
.modeSelected-346R90:hover,
.channel-2QD9_O.selected-aXhQR6:hover {
    background: var(--selected-bg-hover);
}
.modeSelected-346R90::before,
.channel-2QD9_O.selected-aXhQR6::before {
    border-left: var(--border-info) var(--selected-badge);
}

/* Unread Channels */
.modeUnread-1qO3K1 {
    background: var(--unread-bg);
    border-radius: var(--bg-rounding);
}
.modeUnread-1qO3K1::before {
    border-left: var(--border-info) var(--unread-badge);
}
.unread-2lAfLh {
    display: none;
}

/* Hovering on channels */
.modeUnread-1qO3K1:hover,
.wrapper-2jXpOf:hover:not(.modeSelected-346R90),
.channel-2QD9_O.container-2Pjhx-:hover:not(.selected-aXhQR6) {
    background: var(--hovered-bg);
    border-radius: var(--bg-rounding);
}

/* Fixes */
.channel-2QD9_O.container-2Pjhx- {
    margin-left: 0;
    max-width: 233px;
}
#private-channels > div > .channel-2QD9_O > div > .avatar-3uk_u9 {
    margin-left: 4px;
}
